<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>snm Startup</string>
	<key>Messages</key>
	<dict>
		<key>start</key>
		<string>Starting snm</string>
		<key>stop</key>
		<string>Stopping snm</string>
	</dict>
	<key>OrderPreference</key>
	<string>Last</string>
	<key>Provides</key>
	<array>
		<string>snm</string>
	</array>
	<key>Requires</key>
	<array>
		<string>Network</string>
		<string>Disks</string>
	</array>
</dict>
</plist>
